

pypdf==4.3.1

tkinterdnd2==0.4.2
black==24.8.0

altgraph==0.17.4
packaging==24.1
pefile==2024.8.26
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pywin32-ctypes==0.2.3
setuptools==74.0.0
sv-ttk==2.6.0